body{
    margin: 0px;
}

body {
    font-family: 'Raleway';font-size: 18px;
}

.container{
    max-width: 1218px;
    margin: auto; 
    padding-left: 20px;
    padding-right: 20px;
}

.flex-grow-1 {
    flex-grow: 1;
    order: -1;

}

.navbar_item--signup{
    order: -1;
    font-weight: bolder;
    text-align: right;
} 


.navbar_item--acc{
    order: 0;
    border-bottom: 2px solid #f1f1f1;
}
.navbar_item--act{
    order: 1;
    border-bottom: 2px solid #f1f1f1;
}

.navbar {
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

.navbar_link { 
    text-decoration: none;
    display: block;
    padding: 10px 0;
}

.navbar_link-img{
    padding-top: 5px;
}

.navbar_link-acc{
    color: black;
    text-align: center;
}

.navbar_link-act{
    color: black;
    text-align: center;
}



.navbar_link a{
    transition: color 0.5s;
}

.navbar_item {
    list-style: none;
    width: 50%;
}
.navbar_link--signup{
    color: #0065FC;
}

.navbar_item--acc:hover {
    border-bottom: 2px solid  rgb(47, 153, 224);
}

.navbar_item--acc a:hover {
    color: rgb(47, 153, 224);
}

.navbar_item--act:hover {
    border-bottom: 2px solid  rgb(47, 153, 224);
}

.navbar_item--act a:hover {
    color: rgb(47, 153, 224);
}

.content{
    margin-bottom: 15px;
}


.left-side-tow {
    display: flex;
}

.search-location {
    border: 2px solid white  ;
    padding: 0;
    display: inline-block;
    text-align: center;
    border-width: 2px 0;
}


.search-location_icon {
    display: inline-block;
    background-color: #f1f1f1;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    display: inline-block;
   
}


  form.Search input[type=text] {
    padding: 14px;
    font-size: 17px;
    border: 1px solid #f1f1f1;
    background: white;
    width: 230px;
    margin-bottom: 25px;
    
    
}

  form.Search button {
    width: 50px;
    height: 50px;
    padding: 10px;
    background: #0065FC;
    color: white;
    font-size: 17px;
    border: 0px solid;
    cursor: pointer;
    border-radius: 10px;
    margin-left: -6px;
  }
  

* {
    box-sizing: border-box;
}

.filter-text{
    margin-right: 25px;
}

.filter-item {
    background-color: white;
    border: 2px solid #f1f1f1;
    border-radius: 25px;
    cursor: pointer;
    padding: 0;
    position: relative;
    margin-right: 15px;
    margin-bottom: 15px;
}


.filter-item_icon {
    display: inline-block;
    background-color: #DEEBFF;
    color: #0065FC;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    line-height: 38px;
    text-align: center;
    margin-left: -2px;
   
}

.filter-item_text{
    display: inline-block; 
    padding: 9px 15px 10px 12px;
}

.info-ican{
  margin-top: 28px;
  display: inline-block;
  border: 1px solid #DEEBFF ;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: white;
  color: #0065FC;
  padding-left: 9px;
  margin-bottom: 20px;
}


.row {
    display: flex;
    justify-content: space-between;
}

.col {
    width: 100%;
    order: 1;
}

.bg-grey {
    background-color: white ;
    padding: 0px 10px 10px 0px;
    margin-left: -16px;
    margin-right: -16px;
}


.title_text{
    padding: 40px 0px 0px 15px;
    margin-top: -20px;
    display: flex;
}

.ican-class{
    flex-grow: 1;
    text-align: right;
}


.card{
    background-color: white;
    border: 5px solid white;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card-img-top{
    height: 112px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    object-fit: cover; 
}

.card-title{
    padding: 4px 0px 4px 10px;
    margin: 0px;
    font-size: 15px;
}

.card-text{
    padding: 1px 0px 4px 10px;
    margin: 0px;
    font-size: 14px;
}

.f-star{
    color: #0065FC;
}

.e-star{
    color: hsl(0, 0%, 87%);
}

.star-m{
    margin-left: 10px;
}


.bg-grey-4 {
    background-color: #f1f1f1 ;
    padding: 0px 10px 10px 0px;
    margin-left: -19px;
    margin-right: -20px;
}

.card-4{
    background-color: white;
    border: 5px solid white;
    border-radius: 15px;
    margin-bottom: 30px;
    margin-left: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    display: flex;
    order: 0;
}

.card-img-top-4{
    height: 132px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    width: 125px;
    object-fit: cover; 
}

.card-title-4{
    padding: 0px 0px 10px 10px;
    margin: 0px;
    font-size: 15px;
    padding-top: 13px;
}

.card-text-4{
    padding: 13px 0px 36px 10px;
    margin: 0px;
    font-size: 14px;
}

.aim{
    margin-top: 18px;
}

.card-b{
    background-color: white;
    margin-right: 10px;
    border-radius: 20px;
    margin-bottom: 22px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    width: 100%;
}

.card-b-img{
    height: 133px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    margin: 0.1px;
    object-fit: cover;
}

.card-b-title{
    padding: 5px 0px 10px 15px;
    margin: 0px;
    font-size: 17px;
}

.search-text{
    display: none;
}

.search-icon{
    display: inline !important;
}

.row{
    flex-direction: column;
}

.bg-grey-5{
    background-color: #f1f1f1 ;
    margin-top: 30px;
}

.col-5{
    width: 100%;
    padding: 20px 0px 20px 5px;
    font-size: 15px;
}

.p-t{
    padding-top: 8px;
}

@media (min-width: 875px) {
    .container{
        padding-left: 8px;
        padding-right:  8px;
    }

    .navbar{
        flex-wrap: nowrap;
    }
    .navbar_link{
        border-top: 2px solid transparent;
        transition: border-top 0.5s;
        padding: 20px;
    }


    .navbar_item{
        width: auto;
    }

    .navbar_link a {
        color: black;
        transition: color 0.5s;
    }

    .navbar_link:hover {
        border-top: 2px solid  rgb(47, 153, 224);
    }

    .navbar_link a:hover {
        color: rgb(47, 153, 224);
    }

    .navbar_link-img{
        margin-left: -14px;
        border-top: 2px solid white;
    }

    .navbar_link-img:hover {
        border-top: 2px solid  white;
    }

    .navbar_link-img a:hover {
        color: white;
    }

    .flex-grow-1{
        order: 0;
        border-top: none;
        margin-left: -24px;
    }
    .navbar_item--signup{
        order: 3;
        text-align: center;
    }
    .navbar_item--acc{
        order: 1;
        border-bottom: none;
        text-align: center;
    }
    .navbar_item--act{
        order: 2;
        border-bottom: none;
        text-align: center;
    } 
    .navbar_item--acc:hover {
        border-bottom: none;
    }
    .navbar_item--act:hover {
        border-bottom: none;
    }

    .content{
        margin-left: -17px;
    }

    .search-icon{
        display: none !important;
    }

    .search-text{
        display: inline;
    }


    form.Search button{
        width: 100px;
        border-top-left-radius: unset;
        border-bottom-left-radius: unset;
    }

    .left-side-tow{
        margin-left: -16px;
    }

    .filter-text{
        margin-left: -16px;
    }

    .bg-grey{
        background-color: #f1f1f1;
        border-radius: 20px;
        margin-right: 0px;
        padding: 0px 11px 10px 11px;
    }

    .card{
        margin: 0px 10px 25px 10px;
        width: 240px;
        height: 195px;

    }

    .bg-grey-4{
        border-radius: 20px;
    }

    .card-4{
        margin-left: 25px;
        margin-right: 20px;
    }

    .title_text{
        padding-top: 52px;
    }


    .aim{
        margin-top: 50px;
        margin-left: -15px;
    }

    .card-b{
        width: 269px;
        margin-right: 64px;
        margin-left: -15px;
    }

    .card-b-img{
        width: 269px;
    }
    
    .card-b-img_size{
        height: 330px;
        width: 269px;
    }

    .card-b-img_p{
        height: 162px;
    }

    .card-b-img_f{
        height: 106px;
    }

    .row{
        flex-direction: row;
    }
    

    .col-4{
        width: 60%;
        order: 1;
    }

    .bg-grey-4{
        margin-left: 25px;
    }

    .col{
        order: 0;
    }

    .info-ican{
        margin-bottom: 35px;
        margin-left: -15px;
    }
    
    .col-5{
        margin-left: -20px;
    }

    body{
        margin-top: -18px;
    }

}

