body{
    margin: 0px;
}

.brand{
    width: 80px;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.right-side {
    display: flex;
}

.nav-wrapper > .right-side > div {
    margin-right: 20px;
    font-size: 0.9em;
}

.nav-link-wrapper {
    height: 22px;
    border-top: 1px solid transparent;
    transition: border-top 0.5s;
}

.nav-link-wrapper a {
    color: black;
    text-decoration: none;
    transition: color 0.5s;

}

.nav-link-wrapper:hover {
    border-top: 1px solid  rgb(47, 153, 224);
}

.nav-link-wrapper a:hover {
    color: rgb(47, 153, 224);
}



.nav-signup-link {
    height: 22px;
    border-top: 1px solid transparent;
    transition: border-top 0.5s;
}

.nav-signup-link a {
    color:  #0065FC;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-signup-link:hover {
    border-top: 1px solid  rgb(47, 153, 224);
}

.nav-signup-link a:hover {
    color: rgb(47, 153, 224);
}


.content{
    margin-left: 25px;
    margin-bottom: 15px;
}


.left-side-tow {
    display: flex;
}

.search-location {
    border: 2px solid white  ;
    cursor: pointer;
    padding: 0;
    position: relative;
}


.search-location_icon {
    margin-left: 25px;
    display: inline-block;
    background-color: #f1f1f1;
    width: 50px;
    height: 50px;
    position: absolute;
    top: -2px;
    left: -2px; 
    line-height: 50px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
   
}


  form.Search input[type=text] {
    margin-left: 56px;
    margin-bottom: 25px;
    padding: 26px 0px 22px 24px;
    font-size: 17px;
    border: 1px solid #f1f1f1;
    float: left;
    width: 60%;
    height: 30px;
    background: white;
    
    
}
  



  form.Search button {
    float: left;
    width: 100px;
    height: 50px;
    padding: 10px;
    background: #0065FC;
    color: white;
    font-size: 17px;
    border: 0px solid;
    border-left: none;
    cursor: pointer;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
  }
  

 

* {
    box-sizing: border-box;
}

.filter-text{
    margin-left: 28px;
    margin-right: 25px;
}

.filter-item {
    background-color: white;
    border: 2px solid #f1f1f1;
    border-radius: 25px;
    cursor: pointer;
    padding: 0;
    position: relative;
    margin-right: 15px;
}


.filter-item_icon {
    display: inline-block;
    background-color: #DEEBFF;
    color: #0065FC;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: -2px; 
    line-height: 38px;
    text-align: center;
   
}

.filter-item_text{
    display: inline-block; 
    padding: 9px 15px 10px 45px;
}

.info-ican{
  margin-top: 28px;
  display: inline-block;
  border: 1px solid #DEEBFF ;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: white;
  color: #0065FC;
  margin-left: 28px;
  padding-left: 9px;
  margin-bottom: 20px;
}

.left-half{
    padding: 0px 0px 40% 0px ;
}

.left-half_text{
    padding: 40px 0px 0px 35px;
}


.card{
    padding: 0px 0px 0px 0px;
    background-color: white;
    border: 5px solid white;
    margin-left: 40px;
    border-radius: 20px;
    float: left;
    margin-bottom: 30px;
}

.card-img-top{
    width: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card-title{
    padding: 5px 0px 0px 10px;
    margin: 0px;
    font-size: 17px;
}

.card-text{
    padding: 1px 0px 0px 10px;
    margin: 0px;
    font-size: 16px;
}



.card-b{
    background-color: white;
    border: 1px solid #f1f1f1 ;
    margin-left: 20px;
    border-radius: 15px;
    float: left;
    margin-bottom: 30px;
}

.card-b-img{
    width: 250px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin: 0px 0px 0px 4px;
}

.card-b-title{
    padding: 5px 0px 10px 15px;
    margin: 0px;
    font-size: 17px;
}

